body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagenportada {
  display: block;  
  margin: 1% auto;   
  max-width: 400px;   
  border-radius: 12px;  
}

h1{
    font-size: auto;
    text-align: center;
    margin-top: 0%;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: auto;
    font-style: initial;
    text-align: center;
}

hr {
  height: 2px;
  background-color: white;
  border-color: white;
}

.biografia{
  width: 80%;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

.table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
}

.table th, td {
  border: 1px solid #740808;
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background-color: #98a0aa;
}

form {
  background-color: bisque;          
  padding: 1.5rem;             
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  max-width: 600px;            
  margin-left: auto;           
  margin-right: auto;
}

label {
  font-weight: 600;
}

button.btn {
  align-self: flex-start; 
  cursor: pointer;
}

body.contacto{
  background-color: whitesmoke;
}
